<!DOCTYPE html>
<html lang="ru-Ru">
<head>
    <meta charset="UTF-8">
    <meta content="#ffffff" name="theme-color">
    <meta content="#ffffff" name="msapplication-TileColor">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="yes" name="mobile-web-app-capable">
    <meta content="mobile-map-markers" name="description" />
    <link crossorigin href="https://fonts.gstatic.com/" rel="preconnect">
    <link rel="manifest" href="manifest.json">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <base href="/">
</head>
<body>
<noscript>
    If you're seeing this message, that means
    <strong>JavaScript has been disabled on your browser</strong>, please
    <strong>enable JS</strong> to make this app work.
</noscript>
<div class="preloader-progress"></div>
<div id="app"></div>
<div class="preloader">
    <img alt="logo" class="preloader-image" src="<%=require('./../../assets/svg/logo.svg').default%>">
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</body>
</html>
